# Backend environment variables for BANKAI
SPRING_DATASOURCE_URL=jdbc:mysql://bnkai-db.cjs26u48y0jp.ap-south-1.rds.amazonaws.com:3306/digitalgoldwallet
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=Gold12345
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SERVER_PORT=8081
APP_CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:3000
