# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Build folders
# =========================
target/
build/
out/

# =========================
# Logs
# =========================
*.log

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# Environment files
# =========================
.env

# =========================
# Temporary files
# =========================
*.swp
*.swo
*~

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
Thumbs.db
Desktop.ini